.container {
    position: relative;
}

.item1, .item2  {
    text-transform: uppercase;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--accent6);
    line-height: .8;
    position: relative;
    font-family: "Benguiat";
}

.animation {
    animation: bounce 1.1s infinite ease-in-out;
}

.large {
    font-size: 20rem;
}

.medium {
    font-size: 13rem;
}

.small {
    font-size: 10rem;
}

.item2 {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    filter:blur(3px);
}

@keyframes bounce {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 10rem;
    }
    100% {
        margin-top: 0;
    }
}