.container {
    margin-bottom: 35rem;
}

.top {
    display: flex;
    align-items: center;
}

.l {
    justify-content: flex-start;
}

.r {
    justify-content: flex-end;
}

.content {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.yes {
    flex-direction: row-reverse;
}

.no {
    flex-direction: row;
}

.reverse {
    flex-direction: row-reverse;
}

.left {
    flex:1;
    border-left: 9px solid var(--accent6);
    padding-left: 2rem;
}

.question {
    font-family: "Lato";
    text-transform: uppercase;
    position: relative;
    color: var(--accent4);
    margin-bottom: 3rem;
}

.click {
    color: var(--accent4)
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes bounce {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 10rem;
    }
    100% {
        margin-top: 0;
    }
}

@media screen and (max-width: 868px) {
    .content {
        flex-direction: column;
    }

    .top {
        justify-content: center;
        right: 0;
    }
}

@media screen and (max-width: 568px) {
    .content {
        padding: 3rem;
        padding-top: 5rem;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 1rem;
        padding-top: 5rem;
    }
}

